[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/git/poky
	branch = honister
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
	branch = honister
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = honister
